{% block form_row %}
    <div class="default-form-row">
        <label class="font-weight-bold text-info">
            {{ form_label(form) }}
        </label>
        {{ form_widget(form) }}
        <div class="default-form-row-error">
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock %}
