{% extends 'base.html.twig' %}
{% form_theme form 'security/_form-renderer.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}
{% block content %}
    <section class="container my-5 text-center">
        <div class="default-title">
            <h2>Mot de passe oublié</h2>
        </div>
        <div class="border py-5 px-5">
            {{ form_start(form)}}
            {{ form_row(form.email)}}
            <button type="submit" class="mt-2 btn-round-shadow btn btn-success">
                <span class="fas fa-unlock-alt"></span>
                Envoyer
            </button>
            {{ form_end(form)}}
        </div>
    </section>
{% endblock %}
