<nav id="navigation" class="p-3 navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img class="d-inline-block align-top" alt="logo du blog Eloïse" src="{{ asset('images/logo_blanc.png') }}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end text-uppercase" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li id="home" class="active nav-item">
                <a class="nav-link" href="/">
                    <span class="fas fa-home"></span>
                    Accueil
                </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li id="profile" class="active nav-item">
                <a class="nav-link" href="/profil">
                    <span class="fas fa-user"></span>
                    Profil
                </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li id="tricks" class="active nav-item">
                <a class="nav-link" href="/tricks">
                    <span class="fas fa-user"></span>
                    Tricks
                </a>
            </li>
        </ul>
        <div class="text-center m-1">
            <a id="register" href="/inscription" class="btn btn-outline-primary">
                <span class="fas fa-file-signature"></span>
                Inscription
            </a>
        </div>
        <div class="text-center m-1">
            <a id="authentication" href="/login" class="btn btn-outline-success">
                <span class="fas fa-sign-in-alt"></span>
                Connection
            </a>
        </div>
    </div>
</nav>
